@*
	Author: bigpopakap
	Since: 2013-03-17
	
	Partial template for including the Facebook SDK, to be used in the head of the HTML page
	
	Params:
		detectLogin: if true, will check whether the user is logged in and redirects to the login url
*@
@(detectLogin: Boolean = false)
@import contexts.AppContext
@import contexts.RequestContext
@parts.staticResource(Array(
	"http://connect.facebook.net/en_us/all.js",
	"/public/javascripts/initFbSdk.js"
))
<script type="text/javascript">
	//initialize the SDK. the fb-root element hasn't been created, but it will be by the SDK
	window.WTF.get('initFbSdk')(
		'@(AppContext.Var.FB_APP_ID)',
		@detectLogin,
		'@(RequestContext.loginUrl())'
	);
	
	//remove the weird hash that the Facebook login adds
	if (window.location.hash == '#_=_') {
		window.location.hash = '';
	}
</script>