@*
	Author: bigpopakap
	Since: 2013-04-26
	
	The page for the list of artists
*@
@(artists: List[ArtistModel], artistForm: models.forms.ArtistForm)
@import controllers.web.ArtistsWebController
<!DOCTYPE html>
<html>
<head>
	@parts.preHead()
</head>
<body>
	@parts.topbar()
	
	@(artistForm.render())
	
	<h1>List of artists</h1>
	<table>
		<!-- Header row -->
		<tr>
			<th>Name</th>
		</tr>
		
		<!-- Value rows -->
		@for(artist <- artists) {
			<tr>
				<td><a href="@(ArtistsWebController.detailUrl(artist))">@(artist.getName())</a></td>
			</tr>
		}
	</table>
	
	@parts.devtools.devbar()
</body>
</html>