@*
	Author: bigpopakap
	Since: 2013-04-29
	
	Displays a stack trace in HTML
	
	Params:
		ex - the Throwable to display
*@
@(ex: Throwable)
@import contexts.AppContext
@import utils.ExceptionUtil
@import helpers.Logger.Level
@if(AppContext.Mode.isDevelopment()) {
	@if(ex != null) {
		<div style="font-family: monospace">
			<div>(dev mode only)</div>
			@for(line <- ExceptionUtil.printStackTrace(ex).split("\n")) {
				<div>@(line.replaceAll("\t", ". .. "))</div>
			}
		</div>
	}
} else {
	@parts.utils.log(Level.NONE, false, Level.WARN, "Tried to print stack trace to HTML outside of Dev mode: " + ex)
}
