@*
	Author: bigpopakap
	Since: 2013-04-12
	
	The page to list users and provide login links for them
*@
@(users: List[UserModel], devtoolsUserForm: models.forms.DevtoolsUserJuiForm)
@import contexts.RequestContext;
@import utils.MessagesEnum;
@td(value: Object) = {
	<td title="@(value)">@(value)</td>
}
<!DOCTYPE html>
<html>
<head>
	@p_preHead()
</head>
<body>
	@p_topbar()
	
	@(devtoolsUserForm.render())
	
	<h1>List of users</h1>
	<table>
		<!-- Header row -->
		<tr>
			<th>Login link</th>
			<th>Username</th>
			<th>Email</th>
			<th>FB ID</th>
			<th>FB isAuthed</th>
			<th>First login</th>
			<th>Register</th>
			<th>Last login</th>
			<th>Second last login</th>
			<th>Last access</th>
		</tr>
		
		@for(user <- users) {
			<tr>
				<td>
					<a href="@(RequestContext.devtoolsLoginUrl(user.getPk().toString()))">
						@(MessagesEnum.word_login.get())
					</a>
				</td>
				@td(user.getUsername())
				@td(user.getEmail())
				@td(user.getFbId())
				@td(user.getFbIsAuthed(): java.lang.Boolean)
				@td(user.isFirstLogin(): java.lang.Boolean)
				@td(user.getRegisterTime())
				@td(user.getLastLoginTime())
				@td(user.getSecondToLastLoginTime())
				@td(user.getLastAccessTime())
			</tr>
		}
	</table>
</body>