@*
	Author: bigpopakap
	Since: 2013-03-17
	
	This is the generic error page
	
	Params:
		description: a short description of the error, or empty string for no description
		url: the url to link to, must be specified
		toMessage: the description of the link, must be specified
*@
@(description: String, url: String, toMessage: String)
@import utils.Message
<!DOCTYPE html>
<html>
<head>
	@p_preHead()
</head>
<body>
	@p_topbar()
	<h1>@(Message.errorPage_title.get())</h1>
	<p>@description</p>
	<p>Click <a href="@url">here</a> @toMessage</p>
	
	@p_devtools_devbar()
</body>
</html>