@*
	Author: bigpopakap
	Since: 2013-04-21
	
	Devbar that provides easy actions for developers
*@
@import contexts.AppContext;
@import contexts.RequestContext;
@import contexts.SessionContext;
@import controllers.routes;
@if(AppContext.Mode.isDevelopment()) {
	@p_staticResource(Array(), Array("/public/stylesheets/devbar.css"))
	<div id="devbar" class="devbar">
		@if(SessionContext.hasUser()) {
			<span style="border-right: solid 1px black; margin-right: 12px">
				<span>User <a href="#">@(SessionContext.user().getUsername())</a></span>
			
				@if(SessionContext.user().getCreator() != null) {
					<span>(admin @(SessionContext.user().getCreator().getUsername()))</span>
				}
			</span>
		}
		
		<span><a href="@(RequestContext.loginUrl())">FbLogin</a> - </span>
		<span><a href="@(RequestContext.logoutUrl())">Logout</a> - </span>
		<span><a href="@(routes.DevtoolsWebController.directory())">Devtools</a> - </span>
		<span><a href="@(routes.DevtoolsLoginWebController.listUsers())">User List</a> - </span>
		<span><a href="@(routes.DevtoolsWebController.killServer())">KillServer</a></span>
	</div>
}