@*
	Author: bigpopakap
	Since: 2013-04-14
	
	Partial JUI associated with an HTML form input (JuiFormInput.java)
	
	Params:
		input - the input JUI to display
*@
@(input: juiforms.JuiFormInput)
@import juiforms.JuiFormInput
@(input.getType()) match {
	case _ => {
		<div>
		@(input.getLabel()) (@(input.getHelpText())): 
		<input
			type="@(input.getType())"
			name="@(input.getName())"
			placeholder="@(input.getPlaceholder())"
			@if(input.hasValue()) {
				value="@(input.getValue())"
			}
		/>
		@if(input.hasError()) {
			Error: @(input.getError())
		}
		</div>
	}
}