@(subTitle: String = "", forceNoDetectLogin: Boolean = false)
@import contexts.AppContext
@import contexts.SessionContext
@import models.SessionModel
<title>@(AppContext.Var.APP_TITLE)@(subTitle)</title>
<script type="text/javascript" src="/public/javascripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/public/javascripts/initNamespace.js"></script>
<script type="text/javascript" src="/public/javascripts/initLogger.js"></script>
<script type="text/javascript">
	window.WTF.get('Logger').init(@(AppContext.Mode.isProduction()));
</script>
@p_fbJsSdk(
	!forceNoDetectLogin && !SessionModel.Validator.hasValidFbAuthInfo(SessionContext.get())
)