@*
	Author: bigpopakap
	Since: 2013-03-17
	
	Partial template that gets a static resource unless it was already included in the HTML page
	
	Params:
		urls: The array of urls to include. This partial will automatically determine what type of
				resoruce they are
*@
@(urls: Array[String], devUrls: Array[String] = Array())
@import contexts.AppContext;
@import contexts.RequestStaticResourceContext;
@import types.StaticResourceType;
@include(url: String) = {
	@if(RequestStaticResourceContext.contains(url)) {
		<script type="text/javascript">
			window.WTF.get('Logger').info('Skipping already-included resource at @(url)');
		</script>
	} else {
		@* Call the add() method *@
		@{RequestStaticResourceContext.add(url); ""}
		
		@if(StaticResourceType.JS.isType(url)) {
			<script type="text/javascript" src="@url"></script>
		}
		
		@if(StaticResourceType.CSS.isType(url)) {
			<link rel="stylesheet" type="text/css" href="@url"/>
		}
		
		@if(StaticResourceType.getTypeOf(url) == null) {
			<script type="text/javascript">
				window.WTF.get('Logger').errorAlert('Unhandled static resource type for url @url');
			</script>
		}
	}
}
@for(url <- urls) {
	@include(url = url)
}
@for(url <- devUrls) {
	if (@(AppContext.Mode.isProduction())) {
		<script type="text/javascript">
			window.WTF.get('Logger').info('Skipping dev-only resource @url');
		</script>
	}
	else {
		@include(url = url)
	}
}