@*
	Author: bigpopakap
	Since: 2013-03-17
	
	Partial template that gets a static resource unless it was already included in the HTML page
	
	Params:
		urls: The array of urls to include. This partial will automatically determine what type of
				resoruce they are
*@
@(urls: Array[String], devUrls: Array[String] = Array())
@import contexts.AppContext
@import contexts.RequestStaticResourceContext
@import types.StaticResourceType
@import helpers.Logger.Level
@include(url: String) = {
	@if(RequestStaticResourceContext.contains(url)) {
		@p_util_log(Level.INFO, false, Level.NONE, "Skipping already-included resource at " + url)
	} else {
		@* Call the add() method *@
		@{RequestStaticResourceContext.add(url); ""}
		
		@(StaticResourceType.getTypeOf(url)) match {
			case StaticResourceType.JS => { <script type="text/javascript" src="@url"></script> }
			case StaticResourceType.CSS => { <link rel="stylesheet" type="text/css" href="@url"/> }
			case _ => {
				@p_util_log(Level.WARN, true, Level.WARN, "Unhandled static resource type for url " + url)
			}
		}
	}
}
@for(url <- urls) {
	@include(url = url)
}
@for(url <- devUrls) {
	@if(AppContext.Mode.isProduction()) {
		@p_util_log(Level.INFO, false, Level.NONE, "Skipping dev-only resource " + url)
	} else {
		@include(url = url)
	}
}