@*
	Author: bigpopakap
	Since: 2013-04-17
	
	Helper for doing logging on the client and/or server side
	
	TODO - test that all view log through this partial
*@
@(clientLevel: helpers.Logger.Level, clientAlert: Boolean, serverLevel: helpers.Logger.Level, msg: String)
@import helpers.Logger
@import helpers.Logger.Level
@clientLevelEnum(level: Level) = {
	window.WTF.get('Logger').Level.@(level.name())
}
@if(clientLevel != Level.NONE) {
	<script type="text/javascript">
		@if(clientAlert) {
			window.WTF.get('Logger').alert(@clientLevelEnum(clientLevel), '@msg');
		} else {
			window.WTF.get('Logger').log(@clientLevelEnum(clientLevel), '@msg');
		}
	</script>
}
@{ Logger.log(serverLevel, msg); "" }