@*
	Author: bigpopakap
	Since: 2013-04-14
	
	The page for the list of songs
*@
@(songs: List[SongModel], songForm: models.forms.SongModelJuiForm)
<!DOCTYPE html>
<html>
<head>
	@p_preHead()
</head>
<body>
	@p_topbar()
	
	@(songForm.render())
	
	<h1>List of songs</h1>
	<table>
		<!-- Header row -->
		<tr>
			<th>Title</th>
			<th>Artist</th>
			<th>Album</th>
			<th>Track num</th>
			<th>Is live</th>
			<th>Has youtube</th>
			<th>Youtube</th>
		</tr>
		
		<!-- Value rows -->
		@for(song <- songs) {
			<tr>
				<td>@(song.getTitle())</td>
				<td>@(song.getArtist().getName())</td>
				@if(song.hasAlbum()) {
					<td>@(song.getAlbum().getTitle())</td>
				} else {
					<td></td>
				}
				<td>@(song.getTrackNum())</td>
				<td>@(song.isLive())</td>
				<td>@(song.isYoutubeEnabled())</td>
				<td>@(song.getYoutubeId())</td>
			</tr>
		}
	</table>
	
	@p_devtools_devbar()
</body>
</html>